@model RPCDI.UI.Models.RegistrationModel
@{
    ViewBag.Title = "Registration";
}

<h2>Registration</h2>
@using(Html.BeginForm("Registration", "Account", FormMethod.Post))
{
    @Html.ValidationSummary();
    <br />
    @Html.LabelFor(_ => _.UserName);
    <br />
    @Html.TextBoxFor(_ => _.UserName);
    <br />
    <br />
    @Html.LabelFor(_ => _.Password);
    <br />
    @Html.PasswordFor(_ => _.Password);
    <br />
    <br />
    <input type="submit" value="Submit" class="btn btn-default" />

}

